<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="DatosUser.css">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!--CSS-->
    
    <!--Iconos-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">    
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Datos de usuario</title>
</head>
<body class="darkmode " style="user-select: none;">


        <!-- Barra de Navegación -->
        <nav class="navbar navbar-expand-md navbar-light border-3 border-bottom border-primary" style="background-color: #B0E0E6; position: relative;">
            <div class="container-fluid">
                <div class="nav-brand dropdown">
                    <div class="nav-link dropdown-toggle" id="ddUsuario" data-bs-toggle="dropdown" >
                        Usuario
                    </div>
                    <ul class="dropdown-menu border-3 border-primary" style="background-color: #B0E0E6;" aria-labelledby="ddUsuario">
                        <li><a class="dropdown-item" href="../Usuario y Ajustes/datos.html">Registro de Usuario</a></li>
                        <li><a class="dropdown-item" href="../Usuario y Ajustes/DatosUser.html">Datos de usuario</a></li>
                        <li><a class="dropdown-item" href="../Usuario y Ajustes/ajustes.html">Ajustes</a></li>
                        <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
                    </ul>
                </div>   
                
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="MenuNavegacion" class="collapse navbar-collapse container-fluid ">
                    <div class="navbar-nav container-fluid">
    
                        <div class=" nav-item">
                            <a class="nav-link" href="../calendario_con_notas/calendar.html" >
                                Calendario
                            </a>
                        </div>
    
                        <div class="nav-item">
                            <a class="nav-link" href="../Pizarra/Pizarra_de_notas.html">
                                Pizarra
                            </a>
                        </div>
                        
                        <div class="ms-auto"></div>
    
                        <div class=" nav-item" >
                            <button id="bdark" class="btn material-icons-outlined dark fs-5">
                                dark_mode
                            </button>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </nav>

            <img src="/img/user.png" width="300" height="300"/>
            <p>   
            </p>

            <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Usuario:</h6>
                      </div>
                      <div class="col-sm-9 text-secondary" <span th:utext="${#request.userPrincipal.name}">
                        
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Nombre Completo:</h6>
                                      
                        </div>
                        <div th:text="${nomb}" class="col-sm-9 text-secondary">                 
                      </div>
                      </div>
                      <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email:</h6>
                      </div>
                       <div th:text="${corr}" class="col-sm-9 text-secondary">                 
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-12">
                      </div>
                    </div>
                  </div>
                </div>
  

   
        





        <script src="/calendario_con_notas/darkmode.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </body>
    </html>