<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>..::BIENVENIDOS::..</title>
        
        <link rel="stylesheet" type="text/css" th:href="@{StyleIndex.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
  		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>

    <div class="page-title">Asistente Virtual CHIRI</div>
    <div class="demo-container">
         <h3>Consulta REST</h3>
		 <p>Hola<p>	            
         <a th:href="@{crearNota}">Pizarra</a>
         <a th:href="@{calendario}">Calendario</a>    
</body>
</html>